name: MicroPython Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt update && sudo apt install -y build-essential libffi-dev git

      - name: Build MicroPython Unix port
        run: |
          git clone https://github.com/micropython/micropython.git
          cd micropython/ports/unix
          make

      - name: Run MicroPython tests
        run: |
          cd micropython/ports/unix
          ./micropython ../../../tests/py_virtual_serial.py
